.features__container {

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 300px;
    gap: 30px 30px;
    padding-top: 10%;
    padding: 118px 0;

    @include vp-1023 {
      grid-template-rows: 360px 360px;
      padding-top: 76px;
      padding-bottom: 76px;
    }

    @include vp-767 {
      grid-template-columns: auto;
      grid-template-rows: 340px 340px 325px 325px;
      padding-top: 51px;
      padding-bottom: 48px;
    }
  }

  h3 {
    padding: 0;
    margin: 0;
    font-family: $ff-roboto-condensed;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    color: $color-deep-sky-blue;
    margin-bottom: 15px;

    @include vp-1023 {
     margin-bottom: 7px;
    }

    @include vp-767 {
      font-size: 20px;
    }
  }

  .features__wrapper {
    border: 1px solid $color-whisper;
    outline: 1px;
    box-sizing: border-box;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 5px;
      height: 100%;
      background-color: $color-deep-sky-blue;
    }

    &:hover {
      background-color: $color-deep-sky-blue;

      svg {
        fill: $color-alice-blue;
        background-color: $color-deep-sky-blue;
      }

      h3 {
        color: $color-alice-blue;
      }

      p{
        color: $color-alice-blue;
      }
    }
  }


  li {
    padding: 38px 45px 66px;
    box-sizing: border-box;

    @include vp-1023 {
      padding: 41px 43px 31px;
    }

    @include vp-767 {
      padding: 29px 29px 31px;
    }
  }

  svg {
    fill: $color-deep-sky-blue;
    background-color: $color-default-white;
    margin-bottom: 14px;

    @include vp-1023 {
      margin-bottom: 10px;
    }

    @include vp-767 {
      width: 30px;
      height: 30px;
    }
  }

  p {
    padding: 0;
    margin: 0;
    font-family: $ff-ptmono;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
    color: $color-black-pearl;

    @include vp-767 {
      font-size: 14px;
    }
  }
}

.features__wrapper--active {
  background-color: $color-deep-sky-blue;

  svg {
    fill: $color-alice-blue;
    background-color: $color-deep-sky-blue;
  }

  h3 {
    color: $color-alice-blue;
  }

  p{
    color: $color-alice-blue;
  }
}
