.features__list {
  display: grid;
  margin: 0;
  padding: 120px 0;
  list-style-type: none;
  gap: 30px;
  grid-template-columns: 1fr 1fr;

  @include vp-1023 {
    padding-top: 79px;
    padding-bottom: 76px;
  }

  @include vp-767 {
    padding-top: 49px;
    padding-bottom: 48px;
    grid-template-columns: 1fr;
  }
}

.features__item {
  padding: 38px 44px 68px;
  border: 1px solid #ebebeb;
  border-left: 5px solid $color-deep-sky-blue;

  @include vp-1023 {
    padding: 40px 40px 31px;
  }

  @include vp-767 {
    padding: 29px 25px 74px;
  }
}

.features__item-row-2 {
  @include vp-767 {
    padding-bottom: 56px;
  }
}

.features__item-row-3,
.features__item-row-4 {
  padding-bottom: 92px;

  @include vp-1023 {
    padding-bottom: 64px;
  }
}

.features__item-row-3 {
  @include vp-767 {
    padding-bottom: 126px;
  }
}

.features__item-row-4 {
  @include vp-767 {
    padding-bottom: 88px;
  }
}

.features__item h3 {
  margin: 14px 0 15px;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  font-family: $ff-roboto-condensed;
  color: $color-deep-sky-blue;

  @include vp-1023 {
    margin: 9px 0 7px;
  }

  @include vp-767 {
    margin-bottom: 9px;
    font-size: 20px;
  }
}

.features__item svg {
  @include vp-767 {
    width: 30px;
    height: 30px;
  }

  fill: $color-deep-sky-blue;
}

.features__item p {
  margin: 0;

  font-size: 16px;
  line-height: 135%;
  color: $color-black-pearl;

  @include vp-767 {
    font-size: 14px;
  }
}

.features__item:hover {
  background-color: $color-deep-sky-blue;
}

.features__item:hover svg {
  background-color: $color-deep-sky-blue;

  fill: $color-alice-blue;
}

.features__item:hover h3 {
  color: $color-alice-blue;
}

.features__item:hover p {
  color: $color-alice-blue;
}
