.footer-logo__name {
  font-family: "roboto-condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  color: $color-alice-blue;
}

.footer-logo__description {
  font-family: "roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: $color-tints-shalimar;
}

.footer-logo__wrapper {
  overflow: hidden;
  max-width: 215px;
  min-width: 215px;
  display: flex;
  margin-right: 8vw;

  @include vp-1023 {
    margin-right: 0;
  }

  @include vp-767 {
    min-width: auto;
  }
}

.footer-logo__image {
  padding-right: 15px;
  width: 100%;
  padding-left: 2%;
  padding-bottom: 3%;
  background-color: $color-black-pearl;

  @include vp-767 {
    max-width: 35px;
    padding: 0;
  }
}

.footer-logo__wrapper-image {
  min-width: 145px;
  padding-top: 3%;
  display: flex;
  flex-direction: column;

  @include vp-767 {
    display: none;
  }
}
