.main-footer__wrapper {
  background-color: $color-black-pearl;
  padding: 2% 15% 2%;
  display: flex;
}

.main-footer__social {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    max-width: 150px;
  }

  svg {
    background-color: $color-black-pearl;
  }
}

.main-footer__scroll {
  display: flex;
}
