.main-nav {
  display: flex;
  align-items: center;
  padding-top: 27px;
  padding-bottom: 27px;

  @include vp-1023 {
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
    align-items: flex-start;
  }

  @include vp-767 {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.main-nav__logo {

  @include vp-767 {
    width: 35px;
    height: 35px;
  }

  &:hover {
    background-color: $color-deep-sky-blue;
  }

  &:active {
    background-color: $color-deep-sky-blue;
  }

  &:focus {
    background-color: $color-deep-sky-blue;
    outline: none;
  }
}

.main-nav__list {
  display: grid;
  gap: 10px 127px;
  grid-template-columns: auto auto;
  align-items: center;
  margin: 0 auto;
  padding: 0;

  list-style-type: none;

  @include vp-1023 {
    margin: 0;
    gap: 0 0;
    column-gap: 20px;
    margin-right: 20px;
  }

  @include vp-767 {
    margin-right: 10px;
    margin-top: -5px;
  }
}

.main-nav__image {
  display: block;
  width: 100%;
  height: 100%;
}

.main-nav__link {
  display: grid;
  align-items: center;

  font-size: 16px;
  line-height: 18px;
  color: $color-alice-blue;

  gap: 12px;
  grid-template-columns: repeat(2, auto);

  @include vp-1023 {
    font-size: 0;
    gap: 0;
    padding: 10px;
  }

  &:hover {
    background-color: $color-deep-sky-blue;
  }

  &:active {
    background-color: $color-deep-sky-blue;
    color: $color-black-pearl;
  }

  &:focus {
    background-color: $color-deep-sky-blue;
    outline: none;
  }
}

.main-nav__link svg {
  background-color: $color-black-pearl;
}

.main-nav__btn {
  width: 160px;
  margin-right: 60px;
  padding: 10px 5px;

  &:hover {
    background-color: $color-deep-sky-blue;
  }

  &:active {
    background-color: $color-tints-shalimar;
  }

  &:focus {
    background-color: $color-deep-sky-blue;
    outline: none;
  }

  @include vp-1023 {
    display: none;
  }
}
