.main-container__background {
  background: linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%);
  width: 100%;
  height: 100%;
}

.main-container__block {
  position: relative;
  z-index: 0;
  background-color: $color-default-black;
  color: $color-default-white;
  background-image: url("../img/background/main-container-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background/main-container-image@2x.jpg");
  }

  @include vp-1023 {
    background-image: url("../img/background/main-container-image-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/main-container-image-tablet@2x.jpg");
    }
  }

  @include vp-767 {
    background-image: url("../img/background/main-container-image-mobile.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/main-container-image-mobile@2x.jpg");
    }
  }
}

.main-container__wrapper {
  display: inline-block;
  margin-top: 25%;
  margin-left: 10%;
  padding-bottom: 295px;

  @include vp-1023 {
    margin-left: 0;
    margin-top: 27%;
    padding-bottom: 33%;
  }

  @include vp-767 {
    margin-top: 56%;
    padding-bottom: 46%;
  }

  span {
    display: none;

    @include vp-767 {
      display: block;
      font-family: $ff-roboto-condensed;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      padding: 12px 30px;
      background-color: $color-deep-sky-blue;
      border-radius: 3px;
      text-align: center;
      letter-spacing: 0.05em;
      cursor: pointer;
    }
  }

  h2 {
    margin: 0;
    padding: 0;
    font-family: $ff-roboto-condensed;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 94px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    margin-bottom: 32px;
    color: $color-alice-blue;

    @include vp-1023 {
      font-size: 64px;
      line-height: 75px;
      margin-bottom: 0;
    }

    @include vp-767 {
      font-size: 36px;
      line-height: 42px;
      margin-bottom: 7px;
    }
  }

  p {
    margin: 0;
    padding: 0;
    color: $color-alice-blue;
    font-family: $ff-ptmono;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 155%;
    max-width: 685px;
    margin-bottom: 61px;

    @include vp-1023 {
      margin-bottom: 73px;
    }

    @include vp-767 {
      font-size: 14px;
      margin-bottom: 17px;
    }
  }

  a {
    font-family: $ff-roboto-condensed;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $color-alice-blue;
    padding: 15px 25px;
    background-color: $color-deep-sky-blue;
    border-radius: 3px;
    margin-left: 5px;

    @include vp-1023 {
      margin-left: 47px;
    }

    @include vp-767 {
      font-size: 0;
      background-color: transparent;

      margin-left: 0;
    }
  }
}
