.main-nav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;

  @include vp-1023 {
    padding-bottom: 3%;
    min-width: 100px;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 6px;
  align-items: center;
  margin-right: 28vh;

  @include vp-1023 {
    margin-right: 0;
    min-width: 100px;

    a {
      padding: 11px 20px;
    }
  }
}

.main-nav__item {
  display: grid;
  grid-template-columns: 20px 225px;
  box-sizing: border-box;

  a {
    font-family: "pt-mono", "Arial", monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: $color-alice-blue;
    padding-left: 8%;
  }

  svg {
    background-color: $color-black-pearl;
  }

  @include vp-1023 {
    min-width: auto;
    padding-left: 0;
    padding-bottom: 0;

    span {
      display: none;
    }

    svg {
      left: 10px;
    }
  }
}

.main-nav__link {
  font-family: "roboto-condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-alice-blue;
  padding: 10px 15px;
  border: 1px solid $color-alice-blue;
  border-radius: 3px;
  display: inline-block;
  width: 160px;
}
