.product {
  background-color: $color-black-pearl;
}

.product__container {
  padding-top: 65px;
  padding-bottom: 142px;

  @include vp-1023 {
    padding-top: 56px;
    padding-bottom: 76px;
  }

  @include vp-767 {
    padding-top: 48px;
    padding-bottom: 87px;
  }
}

.product__title-1 {
  margin: 0 0 55px;

  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  font-family: $ff-roboto-condensed;
  color: $color-default-white;

  @include vp-1023 {
    margin: 0 0 37px;
  }

  @include vp-767 {
    display: none;
  }
}

.product__title-2 {
  display: none;

  @include vp-767 {
    display: block;
    margin: 0 0 28px;
    font-size: 28px;
    line-height: 39px;
    font-weight: 400;
    font-family: $ff-roboto-condensed;
    color: $color-default-white;
    max-width: 250px;
  }
}

.product__list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style-type: none;

  @include vp-1023 {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  gap: 20px 85px;
  grid-template-columns: repeat(3, 1fr);
}

.product__item {
  position: relative;
  background-color: $color-silver;
  background-repeat: no-repeat;
  background-size: cover;

  &::before {
    position: absolute;
    content: "";
    background-color: $color-image-background;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.product__item a {
  position: relative;

  display: inline-block;
  width: 100%;
  min-height: 650px;
  padding: 48px 40px 20px;
  vertical-align: middle;
  color: $color-default-white;

  @include vp-1023 {
    padding: 37px 45px 20px;
    min-height: 250px;
  }

  @include vp-767 {
    padding: 27px 30px 20px;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;

    width: 60px;
    height: 60px;

    background-color: $color-deep-sky-blue;
    background-image: url("../img/svg/icon-arr.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 3px 0 0 0;
    border: 1px solid $color-deep-sky-blue-background;

    @include vp-767 {
      width: 40px;
      height: 40px;
    }
  }

  &:hover {
    outline: 1px solid $color-deep-sky-blue-background;

    &::after {
      background-color: transparent;
    }
  }

  &:active {
    outline: 1px solid $color-deep-sky-blue-background;

    &::after {
      background-color: transparent;
    }
  }

  &:focus {
    outline: 1px solid $color-deep-sky-blue-background;

    &::after {
      background-color: transparent;
      outline: none;
    }
  }
}

.product__item-1 {
  background-image: url("../img/background/product-image-1.jpg");

  @media (min-width: $vp-1024) {
    @include retina {
      background-image: url("../img/background/product-image-1@2x.jpg");
    }
  }

  @include vp-1023 {
    background-image: url("../img/background/product-image-1-tablet.jpg");

    @include retina {
      background-image: url("../img/background/product-image-1-tablet@2x.jpg");
    }
  }

  @include vp-767 {
    background-image: url("../img/background/product-image-1-mobile.jpg");

    @include retina {
      background-image: url("../img/background/product-image-1-mobile@2x.jpg");
    }
  }
}

.product__item-2 {
  background-image: url("../img/background/product-image-2.jpg");

  @media (min-width: $vp-1024) {
    @include retina {
      background-image: url("../img/background/product-image-2@2x.jpg");
    }
  }

  @include vp-1023 {
    background-image: url("../img/background/product-image-2-tablet.jpg");

    @include retina {
      background-image: url("../img/background/product-image-2-tablet@2x.jpg");
    }
  }

  @include vp-767 {
    background-image: url("../img/background/product-image-2-mobile.jpg");

    @include retina {
      background-image: url("../img/background/product-image-2-mobile@2x.jpg");
    }
  }
}

.product__item-3 {
  background-image: url("../img/background/product-image-3.jpg");

  @media (min-width: $vp-1024) {
    @include retina {
      background-image: url("../img/background/product-image-3@2x.jpg");
    }
  }

  @include vp-1023 {
    background-image: url("../img/background/product-image-3-tablet.jpg");

    @include retina {
      background-image: url("../img/background/product-image-3-tablet@2x.jpg");
    }
  }

  @include vp-767 {
    background-image: url("../img/background/product-image-3-mobile.jpg");

    @include retina {
      background-image: url("../img/background/product-image-3-mobile@2x.jpg");
    }
  }
}

.product__item h3 {
  max-width: 170px;
  margin: 0;

  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  font-family: $ff-roboto-condensed;
  color: $color-default-white;

   @include vp-1023 {
    max-width: 150px;
   }

  @include vp-767 {
    font-size: 18px;
    line-height: 30px;
    max-width: 135px;
  }
}

