.social {
  display: grid;
  margin: 0;
  padding: 0 0 0 10px;

  list-style: none;

  gap: 15px;
  grid-template-columns: repeat(3, 40px);

  @include vp-1023 {
    margin: 5px -4px 0 0;
  }

  @include vp-767 {
    padding: 0 0 0 5px;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  &:hover {
    background-color: $color-deep-sky-blue;
  }

  &:active {
    background-color: $color-deep-sky-blue;
  }

  &:focus {
    background-color: $color-deep-sky-blue;
    outline: none;
  }
}

.social__link:active svg {
  fill: $color-silver;
}
